/* Import the Poppins font family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Tailwind CSS base styles */
@tailwind base;
/* Tailwind CSS component styles */
@tailwind components;
/* Tailwind CSS utility styles */
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .header-link-item {
    @apply cursor-pointer text-xs font-medium opacity-75 transition duration-300 hover:opacity-100;
  }

  .carousel-btn-switch-card {
    @apply absolute z-40 flex h-9 w-9 cursor-pointer items-center justify-center
      rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12;
  }

  .carousel-btn-switch-card-left {
    @apply right-1/2 top-1/2 translate-x-[-200px] translate-y-[-50%] transform sm:translate-x-[-250px] md:translate-x-[-300px] lg:translate-x-[-350px];
  }

  .carousel-btn-switch-card-right {
    @apply top-1/2 left-1/2 translate-x-[200px] translate-y-[-50%] transform sm:translate-x-[250px] md:translate-x-[300px] lg:translate-x-[350px];
  }

  .carousel-indicator {
    @apply absolute left-1/2 -bottom-4 flex h-5 w-24 -translate-x-1/2 transform items-center justify-center space-x-1 md:-bottom-20;
  }

  .carousel-indicator-dots {
    @apply h-2 w-2 rounded-full bg-white opacity-50 transition-all duration-500 hover:w-4 hover:opacity-100;
  }

  .carousel-container {
    @apply relative h-32 w-3/6 sm:h-40 md:h-56;
    perspective: 300px;
    transform-style: preserve-3d;
  }

  /* Maintain fixed dimensions and styles for all screens */
  body,
  .header,
  .content,
  .footer {
    width: 1000px;
    height: 1240px;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (max-width: 1000px) {
    body,
    .header,
    .content,
    .footer {
      width: 100vw;
      height: 124vh;
      transform: scale(1);
      transform-origin: top left;
    }
  }

  .carousel-item {
    @apply absolute h-full w-full cursor-pointer overflow-hidden rounded-3xl drop-shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-700 ease-in-out;
  }
}
